@model LWBlog.Models.EmailModel

<div class="contact-content">
    <div class="container">
        <div class="contact-info">
            <h2>Contact Me</h2>
            <p>Feel free to contact me at anytime. I will respond as soon as possible. Also, be sure to follow me on LinkedIn or GitHub!</p>
        </div>
        <div class="contact-details">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <br />
                
                <div class="form-group">
                    <div class="col-md-4 fixIndent">
                        @Html.TextBoxFor(m => m.FromName, new { @placeholder = "Name" })
                    </div>

                    <div class="col-md-4 fixIndent">
                        @Html.TextBoxFor(m => m.FromEmail, new { @placeholder = "Email" })
                    </div>

                    <div class="col-md-4 fixIndent">
                        @Html.TextBoxFor(m => m.Subject, new { @placeholder = "Subject" })
                    </div>

                    <div class="col-md-12 fixIndent">
                        @Html.TextAreaFor(m => m.Body, new { @placeholder = "Message" })
                        <br />
                    </div>
                </div>

                <input type="submit" value="SEND" />

                <div class="contact-details">
                    <div class="col-md-12 company_address">
                        <h4>Feel free to contact me:</h4>
                        <p>Archdale, NC</p>
                        <p>Phone:(336) 708 2802</p>
                        <p>Email: <a href="mailto:soccerlgw1987@yahoo.com">soccerlgw1987@yahoo.com</a></p>
                        <p>Contact me on: <a href="https://www.linkedin.com/in/landon-wyant-40531089/" target="_blank">LinkedIn</a>, <a href="https://github.com/soccerlgw1987" target="_blank">GitHub</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>

    <script>
        $(function ()
        {
            tinymce.init({
                selector: '#Body'
            });
        });
    </script>
}
